<div class="container">
    <div class="modal-dialog"> 
        <div class="modal-content" style="background-color: rgb(200, 240, 250);box-shadow: 1px 5px 10px #888888;">
            <div class="text-center">                    
                <h4 class="mt-4 mb-3 pb-1">Forgot Password
                <svg xmlns="http://www.w3.org/2000/svg" width="90" height="60" fill="currentColor" class="bi bi-lock" viewBox="10 0 10 20">
                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                  </svg>
                </h4>
              </div>
            <div class="modal-body">
              <form #postForm="ngForm" (ngSubmit)="forgotpassword(postForm.value)" >
                <div class="form-group">
                    <div class="form-outline mb-4">
                        <input type="text" class="form-control" id="email" name="email" ngModel placeholder="Enter your Email"/>
                    </div>                    
                    <div class="form-outline mb-4">
                        <input type="password" class="form-control" id="password" name="password" ngModel placeholder="Enter new Password"/>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ngModel placeholder="Enter Confirm Password"/>
                  </div>
                    <div class="form-outline mb-4">
                        <button class="btn btn-primary form-control">Update</button>
                    </div>
                    
                </div>
              </form>
            </div>             
        </div>                 
    </div>
  
</div>